* {
    background-color: #1b2431;
}

.row {
    background-color: #1b2431;
}

body {
    background-color: #1b2431;
    color: #272727;
    font-family: "Montserrat", "Helvetica", "Open Sans", "Arial";
    font-size: 13px;
}

a:hover {
    text-decoration: none;
}

p,
figure {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #1b2431;
}

.sidebar {
    background-color: #1b2431;
    box-shadow: none;
}

.sidebar .nav-link {
    border-left: 5px solid transparent;
    color: #738297;
    padding: 0.5rem 0.75rem;
}

.sidebar .nav-link:hover {
    color: white;
}

.sidebar .nav-link.active {
    border-left: 5px solid #738297;
    color: white;
}

.sidebar .zmdi {
    display: inline-block;
    font-size: 1.35rem;
    margin-right: 5px;
    min-width: 25px;
}

.card-list {
    width: 100%;
}

.card-list:before,
.card-list:after {
    content: " ";
    display: table;
}

.card-list:after {
    clear: both;
}

.card {
    border-radius: 8px;
    color: white;
    padding: 10px;
    position: relative;
}

.card .zmdi {
    color: white;
    font-size: 28px;
    opacity: 0.3;
    position: absolute;
    right: 13px;
    top: 13px;
}

.card .stat {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 8px;
    margin-top: 25px;
    padding: 10px 10px 0;
    text-transform: uppercase;
}

.card .title {
    display: inline-block;
    font-size: 8px;
    padding: 10px 10px 0;
    text-transform: uppercase;
}

.card .value {
    font-size: 28px;
    padding: 0 10px;
}

.card.blue {
    background-color: #2298F1;
}

.card.green {
    background-color: #66B92E;
}

.card.orange {
    background-color: #DA932C;
}

.card.red {
    background-color: #D65B4A;
}

.projects {
    background-color: #273142;
    border: 1px solid #313D4F;
    overflow-x: auto;
    width: 100%;
}

.projects-inner {
    border-radius: 4px;
}

.projects-header {
    color: white;
    padding: 22px;
}

.projects-header .count,
.projects-header .title {
    display: inline-block;
}

.projects-header .count {
    color: #738297;
}

.projects-header .zmdi {
    cursor: pointer;
    float: right;
    font-size: 16px;
    margin: 5px 0;
}

.projects-header .title {
    font-size: 21px;
}

.projects-header .title+.count {
    margin-left: 5px;
}

.projects-table {
    background: #273142;
    width: 100%;
}

.projects-table td,
.projects-table th {
    color: white;
    padding: 10px 22px;
    vertical-align: middle;
}

.projects-table td p {
    font-size: 12px;
}

.projects-table td p:last-of-type {
    color: #738297;
    font-size: 11px;
}

.projects-table th {
    background-color: #313D4F;
}

.projects-table tr:hover {
    background-color: #303d52;
}

.projects-table tr:not(:last-of-type) {
    border-bottom: 1px solid #313D4F;
}

.projects-table .member figure,
.projects-table .member .member-info {
    display: inline-block;
    vertical-align: top;
}

.projects-table .member figure+.member-info {
    margin-left: 7px;
}

.projects-table .member img {
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

.projects-table .status>form {
    float: right;
}

.projects-table .status-text {
    display: inline-block;
    font-size: 12px;
    margin: 11px 0;
    padding-left: 20px;
    position: relative;
}

.projects-table .status-text:before {
    border: 3px solid;
    border-radius: 50%;
    content: "";
    height: 14px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 14px;
}

.projects-table .status-text.status-blue:before {
    border-color: #1C93ED;
}

.projects-table .status-text.status-green:before {
    border-color: #66B92E;
}

.projects-table .status-text.status-orange:before {
    border-color: #DA932C;
}

.projects-table .status-text.status-red:before {
    border-color: #D65B4A;
}

.selectric {
    background-color: transparent;
    border-color: #313D4F;
    border-radius: 4px;
}

.selectric .label {
    color: #738297;
    line-height: 34px;
    margin-right: 10px;
    text-align: left;
}

.selectric-wrapper {
    float: right;
    width: 150px;
}

.chart {
    border-radius: 3px;
    border: 1px solid #313D4F;
    color: white;
    padding: 10px;
    position: relative;
    text-align: center;
}

.chart canvas {
    height: 400px;
    margin: 20px 0;
    width: 100%;
}

.chart .actions {
    margin: 15px;
    position: absolute;
    right: 0;
    top: 0;
}

.chart .actions span {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    margin: 5px;
    padding: 4px;
}

.chart .actions .btn-link {
    color: white;
}

.chart .actions .btn-link i {
    font-size: 1.75rem;
}

.chart .title {
    font-size: 18px;
    margin: 0;
    padding: 15px 0 5px;
}

.chart .title+.tagline {
    margin-top: 10px;
}

.chart .tagline {
    font-size: 12px;
}

.danger-item {
    border-left: 4px solid #A84D43;
}

.zmdi {
    line-height: 1;
    vertical-align: middle;
}